<div class="container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <form (submit)="update()">
        <div *ngIf="account">
            <div class="form-group">
                <label for="accountName">Name</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="account.fullName" id="accountName">
            </div>
            
            <div class="form-group">
                <!-- <label for="accountDate">Date</label>
                <input class="form-control" type="text" [(ngModel)]="account.dateOfBirth" name="dateOfBirth" id="accountDate" AppDatePicker >
               -->
               <app-birth-date [(ngModel)]="account.dateOfBirth" name="dateOfBirth"></app-birth-date>
            </div>   

            
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
</div>




