<div class="container">
  <div class="row justify-content-md-center bg-primary text-light">
   <h2>Admin</h2>
  </div>
  <div class="row">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts">
            <td>{{account.fullName}}</td>
            <td>{{account.dateOfBirth | date : 'longDate'}}</td>
            <td><a [routerLink]="['/account-edit', account.id]"  class="btn btn-primary">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div> 
</div>





