<mat-form-field>
    <mat-select>
        <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
    </mat-select>
    <mat-select>
        <mat-option *ngFor="let month of months" [value]="month">
            {{month}}
          </mat-option>
    </mat-select>
    <mat-select>
         <mat-option *ngFor="let day of days" [value]="day">
            {{day}}
          </mat-option>
    </mat-select>
</mat-form-field>
